/* Start Main Rules */
ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f1dfdf; }

.edit-cont {
  max-width: 1280px; }

p {
  margin-bottom: 0; }

.business {
  background-color: #FF756B !important; }

.sports {
  background-color: #00848C !important; }

.music {
  background-color: #FFC11E !important; }

.technology {
  background-color: #117243 !important; }

.lifestyle {
  background-color: #004156 !important; }

.politics {
  background-color: #58595B !important; }

/* End Main Rules */
/* Start Home Page */
/* Start Header */
.header .top-header {
  background-color: #000;
  color: #fff;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .top-header .latest {
    margin-left: 45px; }
    .header .top-header .latest p {
      background-color: #fff;
      color: #000;
      display: inline-block;
      padding: 1px 15px;
      margin-right: 10px;
      margin-bottom: 0; }
  .header .top-header .social-icons li {
    display: inline-block;
    padding: 0 15px; }
    .header .top-header .social-icons li i {
      font-size: 12px;
      color: #f9f9f9;
      cursor: pointer;
      background-color: transparent;
      padding: 10px 15px;
      transition: all .3s ease-in-out; }
    .header .top-header .social-icons li .fa-facebook-f:hover {
      background-color: #3B5DA0; }
    .header .top-header .social-icons li .fa-twitter:hover {
      background-color: #1DA1F2; }
    .header .top-header .social-icons li .fa-instagram:hover {
      background-color: #ddd;
      color: #000; }
    .header .top-header .social-icons li .fa-youtube:hover {
      background-color: #FF0000; }
  .header .top-header .items li {
    display: inline-block;
    padding: 0 15px; }
  .header .top-header .items .date {
    background-color: #FF0000;
    padding: 5px 15px; }
.header .main-header {
  background-color: #fff4f4; }
  .header .main-header .content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .main-header .content .ads {
      padding: 15px 0; }

/* End Header */
/* Start Navbar */
.navbar {
  background-color: #000;
  padding: 0; }
  .navbar .navbar-nav {
    margin-left: 50px; }
    .navbar .navbar-nav .active {
      background-color: #FF0000; }
    .navbar .navbar-nav .nav-item {
      padding: 15px 20px;
      font-size: 18px;
      border-right: 1px solid #251c1c;
      transition: all .3s ease-in-out; }
      .navbar .navbar-nav .nav-item:hover {
        background-color: #FF0000; }
      .navbar .navbar-nav .nav-item a {
        color: #fff; }

/* End Navbar */
/* Start Main News */
.home .main-news {
  margin-top: 30px;
  margin-bottom: 30px; }
.home .news {
  position: relative;
  width: 100%; }
  .home .news .overlay {
    background-color: rgba(3, 3, 3, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
    .home .news .overlay .category {
      background-color: #FF0000;
      color: #fff;
      display: inline-block;
      position: absolute;
      bottom: 40%;
      left: 15%;
      padding: 3px 15px; }
    .home .news .overlay .title {
      color: #fff;
      font-size: 28px;
      position: absolute;
      bottom: 19%;
      left: 15%;
      max-width: 75%; }
    .home .news .overlay .date {
      color: #ddd;
      font-size: 16px;
      position: absolute;
      bottom: 12%;
      left: 15%; }
      .home .news .overlay .date i {
        color: #fff; }
  .home .news img {
    max-width: 100%;
    z-index: 454515;
    transition: transform .5s ease; }
    .home .news img:hover {
      transform: scale(1.5); }
.home .sub-news .news .title {
  font-size: 17px;
  bottom: 22%;
  max-width: 70%; }

/* End Main News */
/* Start Main Content */
.main-content .carousel {
  background-color: #fff;
  margin-top: 40px;
  padding: 20px; }
  .main-content .carousel .carousel-inner .carousel-item {
    position: relative; }
    .main-content .carousel .carousel-inner .carousel-item .overlay {
      background-color: rgba(3, 3, 3, 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
      .main-content .carousel .carousel-inner .carousel-item .overlay .category {
        background-color: #FF0000;
        color: #fff;
        display: inline-block;
        position: absolute;
        bottom: 40%;
        left: 15%;
        padding: 3px 15px; }
      .main-content .carousel .carousel-inner .carousel-item .overlay .title {
        color: #fff;
        font-size: 28px;
        position: absolute;
        bottom: 19%;
        left: 15%;
        max-width: 75%; }
      .main-content .carousel .carousel-inner .carousel-item .overlay .date {
        color: #ddd;
        font-size: 16px;
        position: absolute;
        bottom: 12%;
        left: 15%; }
        .main-content .carousel .carousel-inner .carousel-item .overlay .date i {
          color: #fff; }
.main-content .popular-posts {
  background-color: #fff;
  padding: 20px;
  margin: 40px 0; }
  .main-content .popular-posts h2 {
    font-weight: 900;
    border-bottom: 1px solid #ebecef;
    padding-bottom: 10px;
    padding-left: 12px;
    position: relative; }
    .main-content .popular-posts h2:before {
      content: '';
      display: block;
      height: 30px;
      width: 5px;
      background-color: #FF0000;
      position: absolute;
      top: 0;
      left: 0; }
  .main-content .popular-posts .main-post {
    display: flex;
    margin-top: 15px;
    margin-bottom: 30px; }
    .main-content .popular-posts .main-post .main-img img {
      max-width: 350px; }
    .main-content .popular-posts .main-post .main-content {
      margin-left: 20px; }
      .main-content .popular-posts .main-post .main-content a {
        color: #000;
        transition: all .2s ease-in-out; }
        .main-content .popular-posts .main-post .main-content a:hover {
          color: #FF0000; }
      .main-content .popular-posts .main-post .main-content .date {
        color: #7d8498;
        margin-bottom: 7px; }
      .main-content .popular-posts .main-post .main-content .body {
        font-size: 18px;
        color: #3c3030; }
  .main-content .popular-posts .post-img img {
    max-width: 230px; }
  .main-content .popular-posts .post-content a {
    color: #333;
    transition: all .2s ease-in-out; }
    .main-content .popular-posts .post-content a:hover {
      color: #FF0000; }
    .main-content .popular-posts .post-content a h3 {
      font-size: 18px;
      margin: 10px 0; }
  .main-content .popular-posts .post-content .date {
    color: #7d8498; }

/* End Main Content */
/* Start Aside */
aside .recent-news {
  background-color: #fff;
  margin-top: 40px;
  padding: 20px; }
  aside .recent-news h2 {
    font-weight: 900;
    font-size: 25px;
    border-bottom: 1px solid #ebecef;
    padding-bottom: 10px;
    padding-left: 12px;
    margin-bottom: 20px;
    position: relative; }
    aside .recent-news h2:before {
      content: '';
      display: block;
      height: 30px;
      width: 5px;
      background-color: #FF0000;
      position: absolute;
      top: 0;
      left: 0; }
  aside .recent-news a {
    color: #000;
    display: flex;
    margin-bottom: 20px; }
    aside .recent-news a .recent-img img {
      max-width: 100px; }
    aside .recent-news a .recent-content {
      margin-left: 20px; }
      aside .recent-news a .recent-content .title {
        margin-bottom: 5px;
        transition: all .2s ease-in-out; }
        aside .recent-news a .recent-content .title:hover {
          color: #FF0000; }
      aside .recent-news a .recent-content .date {
        color: #a08e8e; }
aside .social-links {
  background-color: #fff;
  margin-top: 15px;
  padding: 20px; }
  aside .social-links h2 {
    font-weight: 900;
    font-size: 25px;
    border-bottom: 1px solid #ebecef;
    padding-bottom: 10px;
    padding-left: 12px;
    position: relative; }
    aside .social-links h2:before {
      content: '';
      display: block;
      height: 30px;
      width: 5px;
      background-color: #FF0000;
      position: absolute;
      top: 0;
      left: 0; }
  aside .social-links ul {
    margin-top: 20px; }
    aside .social-links ul li {
      display: inline-block;
      padding: 0 12px; }
      aside .social-links ul li i {
        border: 2px solid #cacaca;
        display: inline-block;
        height: 40px;
        line-height: 2.3;
        margin-right: 0;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        width: 40px;
        overflow: hidden;
        color: #cacaca;
        cursor: pointer;
        transition: all .3s ease-in-out; }
        aside .social-links ul li i:hover {
          color: #fff; }
      aside .social-links ul li .fa-facebook-f:hover {
        background-color: #3B5DA0; }
      aside .social-links ul li .fa-twitter:hover {
        background-color: #1DA1F2; }
      aside .social-links ul li .fa-instagram:hover {
        background-color: #000; }
      aside .social-links ul li .fa-youtube:hover {
        background-color: #FF0000; }
aside .categories {
  background-color: #fff;
  margin-top: 15px;
  padding: 20px; }
  aside .categories h2 {
    font-weight: 900;
    font-size: 25px;
    border-bottom: 1px solid #ebecef;
    padding-bottom: 10px;
    padding-left: 12px;
    position: relative; }
    aside .categories h2:before {
      content: '';
      display: block;
      height: 30px;
      width: 5px;
      background-color: #FF0000;
      position: absolute;
      top: 0;
      left: 0; }
  aside .categories a {
    color: #000;
    transition: all .3s ease-in-out; }
    aside .categories a:hover {
      color: #FF0000; }
    aside .categories a span {
      display: inline-block;
      border: 1px solid #ebecef;
      padding: 4px 12px;
      margin: 5px 6px; }
aside .archives {
  background-color: #fff;
  margin-top: 15px;
  padding: 20px; }
  aside .archives h2 {
    font-weight: 900;
    font-size: 25px;
    border-bottom: 1px solid #ebecef;
    padding-bottom: 10px;
    padding-left: 12px;
    position: relative; }
    aside .archives h2:before {
      content: '';
      display: block;
      height: 30px;
      width: 5px;
      background-color: #FF0000;
      position: absolute;
      top: 0;
      left: 0; }
  aside .archives a {
    color: #000;
    transition: all .3s ease-in-out; }
    aside .archives a:hover {
      color: #FF0000; }
    aside .archives a span {
      display: block;
      margin: 10px 0; }
      aside .archives a span i {
        color: #FF0000;
        margin-right: 7px; }

/* End Aside */
/* End Home Page */
/* Start Footer */
footer {
  background-color: #242424;
  padding: 25px 0; }
  footer h2 {
    font-weight: 900;
    font-size: 25px;
    padding-left: 12px;
    position: relative;
    font-size: 20px;
    color: #fff; }
    footer h2:before {
      content: '';
      display: block;
      height: 30px;
      width: 5px;
      background-color: #FF0000;
      position: absolute;
      top: 0;
      left: 0; }
  footer .recent-posts,
  footer .categories {
    margin: 25px 0; }
    footer .recent-posts li,
    footer .categories li {
      margin: 7px 0 0; }
      footer .recent-posts li a,
      footer .categories li a {
        color: #bbb;
        transition: all .2s ease-in-out; }
        footer .recent-posts li a:hover,
        footer .categories li a:hover {
          color: #fff; }
  footer .social-links {
    margin: 25px 0; }
    footer .social-links li {
      display: inline-block;
      padding: 0 2px; }
      footer .social-links li i {
        border: 2px solid #cacaca;
        display: inline-block;
        height: 40px;
        line-height: 2.3;
        margin-right: 0;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        width: 40px;
        overflow: hidden;
        color: #cacaca;
        cursor: pointer;
        transition: all .3s ease-in-out; }
        footer .social-links li i:hover {
          color: #fff; }
      footer .social-links li .fa-facebook-f:hover {
        background-color: #3B5DA0; }
      footer .social-links li .fa-twitter:hover {
        background-color: #1DA1F2; }
      footer .social-links li .fa-instagram:hover {
        background-color: #000; }
      footer .social-links li .fa-youtube:hover {
        background-color: #FF0000; }
  footer .popular-posts {
    margin: 25px 0; }
    footer .popular-posts li {
      margin: 15px 0; }
      footer .popular-posts li a {
        display: flex;
        color: #bbb; }
        footer .popular-posts li a img {
          max-width: 120px; }
        footer .popular-posts li a .content {
          margin-left: 10px; }
  footer .gallery {
    margin: 25px 0; }
    footer .gallery li {
      display: inline-block;
      margin: 4px; }
      footer .gallery li a img {
        max-width: 95px; }

/* End Footer */

/*# sourceMappingURL=style.css.map */
